.container{
    width: 100%;
    display: flex;
    background-color: rgb(77, 61, 61);
    padding:25px;
    border-radius: 15px;
  

}
.picture{
    
    border-radius: 10%;
    flex: 1;
    padding: 50px;
    
}
.dicription{
    
    flex: 4;
    background-color: rgb(75, 62, 62);
    padding: 50px;
    margin:20px 30px;
    border-radius: 15px;
    
}
.extnal_infos{
justify-content: center;

    

}
 .work_expirince, .top_skills ,.hoppies{
    margin: 10px;
   
  
}




body{

    background-color: rgb(31, 30, 30);
    margin: 10px auto;
   
}
header{

    background-color: rgba(12,23,11,0.3);
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    
}
section{
    
    border: 3px solid;
    border-radius: 20px;
    
    
}
    
/* link style ..  */
nav > ul > li{
    display: inline-block;
    padding: 10px 3px;
    font-size: 20px;
    border-radius: 50%;
    
}

nav > ul > li > a{
    text-decoration: none;
    color: ivory;
}
.dicription>h1{
    color: rgb(37, 34, 2);;
    text-transform: uppercase;
    text-decoration: underline;
}
.dicription>h3{
    color: rgb(37, 34, 2);
    
}
.dicription>p{
    font-size: 20px;
}
ul{
    list-style-image: url(../image/right_logo.png);
}
a:hover{
    background: rgb(24, 23, 23);
    border-radius: 5px;
}
/* css of contact */
textarea{
    resize: none;
    max-height: 100px;
}
.contact_txt{
    font-style: italic;
    font-size: 20px;
}
.input_css{
    overflow: hidden;
    margin-top: 20px;

    
    
}
.input_css> input ,.input_css> option{
    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid gray;
}
.input_css> option{
    background-color: gray ;
}
.contact_form_container{
    
    padding-left: 20px;

    background-color: rgb(63, 62, 62);
    border-radius: 25px;
}
.mapouter{
    margin-left:250px ;
    margin-top: 25px;
}

    



 
