
nav > ul > li{
    display: inline-block;
    padding: 10px 3px;
    font-size: 20px;
    border-radius: 50%;
    
}

nav > ul > li > a{
    text-decoration: none;
    color: ivory;
    
}
body{

    background-color: rgb(31, 30, 30);
    margin: 10px auto;
}
header{
    background-color: rgba(12,23,11,0.3);
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
}
a:hover{
    background: rgb(24, 23, 23);
    border-radius: 5px;
}
/*  */



    

.main_tic_tac{
    width: 200%;
    margin-left: 350px;
    display: flex;
    
    
  
}
.one_tic{
    height: 200px;
    width: 200px;
    
    
    
   
}
.two_tic{
    height: 200px;
    width: 200px;
    border-left: 3px solid black;
    
   
}
.three_tic{
    height: 200px;
    width: 200px;
    border-left: 3px solid black;
    
   
}
.four_tic{
    height: 200px;
    width: 200px;
   
    border-top: 3px solid black;

}
.five_tic{
    height: 200px;
    width: 200px;
    border-left: 3px solid black;
    border-top: 3px solid black;
}
.six_tic{
    height: 200px;
    width: 200px;
    border-left: 3px solid black;
    border-top: 3px solid black;
}
.seven_tic{
    height: 200px;
    width: 200px;
    
    border-top: 3px solid black;
}
.eight_tic{
    height: 200px;
    width: 200px;
    border-left: 3px solid black;
    border-top: 3px solid black;
}
.nine_tic{
    height: 200px;
    width: 200px;
    border-left: 3px solid black;
    border-top: 3px solid black;
}
/* .secondd_tic  {
    border-top: 3px solid black;
     */
    
    


